# build files
*.img

# private files
.config/eduroam/cat_installer.conf
.config/reveal.js/
other/

# workspace files
**/template/
*.log
*.lof
*.toc
*.aux
node_modules
octave-workspace

# Specific files
main
hamming
