[submodule "mc404/trabalho02"]
	path = mc404/trabalho02
    url = git@github.com:rodrigocaus/rodrigos-uoli.git

[submodule "ea872/project"]
	path = ea872/project
	url = git@github.com:seijihirao/ea872.git

[submodule "ea872/cpp"]
	path = ea872/cpp
	url = git@github.com:seijihirao/cpp.git
