# build files
*.img

# private files
.config/eduroam/cat_installer.conf
.config/reveal.js/
other/

# workspace files
**/template/
*.log
*.lof
*.toc
*.aux
*.bak
*.zip
node_modules
octave-workspace

# Quartus files
**/incremental_db/
**/output_files/
**/simulation/
*.sdc
*.qpf
*.qsf
*.qws

# Specific files
main
dfs
hamming
c5_pin_model_dump.txt
